body {
  background-color: #dacac8;
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
}

.top {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.tabs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.window {
  background-color: rgb(226, 226, 226);
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.window, .minimise, .close, .fullscreen, .menu, .bar, .bar-border, .current-tab {
  border-bottom: 3px rgb(146, 146, 146) solid;
  border-right: 3px rgb(146, 146, 146) solid;
  border-left: 3px rgb(245, 245, 245) solid;
  border-top: 3px rgb(245, 245, 245) solid;
}

.window-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, #3d7256 , #e0b1a9);
}

.buttons {
  display: flex;
}

.buttons:hover {
  cursor: pointer;
}

.minimise, .close, .fullscreen {
  width: 20px;
  height: 20px;
  background-color: rgb(226, 226, 226);
  display: flex;
}

.close {
  margin: 0 6px;
}

.minimise-symbol {
  width: 100%;
  height: 10%;
  background-color: black;
  align-self: flex-end;
  margin: 3px;
}

.close-symbol {
  position: relative;
  left: 2px;
  bottom: 1px;
  font-size: large;
}

.fullscreen {
  display: flex;
  align-items: center;
}

.fulscreen-symbol {
  width: 10px;
  height: 10px;
  border: 2px solid rgb(0, 0, 0);
  border-top: 3px solid rgb(0, 0, 0);
  margin: 0px 2px;
}

h1 {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  margin: 0 6px;
  color: white;
}

/* menu items */
.menu {
  background-color: rgb(226, 226, 226);
  display: flex;
}

.menu-list {
  width: 80%;
  list-style: none;
  padding: 0;
  margin: 0;
  align-self: flex-end;
}

.menu-header {
  background-color: #3d7256;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 20px 2px;
}

.menu-list li {
  padding: 5px 20px;
}

.menu-list li:hover {
  background-color: #3d7256;
}

.menu-list li a {
  color: black;
}

.menu-list li:hover a {
  color: white;
}

.menu-header h1 {
  margin: 0;
  transform: rotate(-90deg);
}

/* bottom bar */

.bar {
  display: flex;
  align-items: flex-end;
 
  background-color: rgb(226, 226, 226);
  gap: 5px;
}

h3 {
  font-family: "Jersey 10", sans-serif;
  margin: 0;
  padding: 3px;
  border-bottom: 2px rgb(245, 245, 245) solid;
  border-right: 2px rgb(245, 245, 245) solid;
  border-left: 2px rgb(146, 146, 146) solid;
  border-top: 2px rgb(146, 146, 146) solid;
  align-self: center;
  background-color: rgb(189, 189, 189);
}

.bar-line {
  height: 30px;
  width: 2px;
  background-color: rgb(146, 146, 146);
}

.bar-border {
  height: 20px;
  width: 1px;
  align-self: center;
}

.bar img {
  margin: 0 5px;
}

iframe {
  border: none;
}